<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Trigger/Open The modal_popup -->
<button id="myBtn" class="btn btn--primary">Press To Customize Your Stamp</button>

<input type="hidden" id="currnt_variant_id" attr_v_id="" value="" >
<!-- The modal_popup -->
<div id="mymodal_popup" class="modal_popup popups">

  <!-- modal_popup content -->
  <div class="modal_popup-content">

<section class="compare-details">
    <div class="collection-bundle-heading close_popup">
      <h2>Choose Your Stamp Options</h2>
        <span class="close">&times;</span>
    </div>

  <div class="first_step_block">
  <div class="collection-btns">

    <div class="collection-sub-heading">
      <h3>1/2 How many stamps do you want?</h3>
    </div>
   <div class="collection-bundle-content">
      <p>People usually choose one stamp per kid</p>
    </div>
    <div class="collection-btn-flex">

      <div class="collection-btn-flex-grid">
          <button class="open_numberic_step">1</button>
      </div>

      <div class="collection-btn-flex-grid">
          <button class="open_numberic_step">2</button>
      </div>

    <div class="collection-btn-flex-grid">
          <button class="open_numberic_step">3</button>
      </div>

  <div class="collection-btn-flex-grid">
          <button class="open_numberic_step">4</button>      
      </div>
    </div>

     <div class="bundle-content-footer">
       <p>🤩 Save $$$ with every additional stamp</p>
     </div>
  </div>

  <div class="collection-products" id="collection1">
      <div class="colletion-product-grid-heading">
        <h2>2/2 Select your bundle</h2>
        <h3>Save up to 58% with bundles</h3>
      </div>
    <div class="collection-block-products">
      {% for product in collections.choose-stamp.products %}
      
        <div class="colletion-product-grid" >
              <div class="colletion-product-grid-inner">
                <div class="colletion-product-grid-image">
                  <img src="{{ product.featured_image | img_url:'master' }}">
                </div>
                <div class="colletion-product-grid-content">
                  <h2>{{ product.title }}</h2>
                  <div class="colletion-grid-price">  
                    <p><span class="regular-price">{{ product.price | money }}</span><span class="compare-price"><s>$59.99</s></span><span class="save-price">(save 17%)</span></p>
                  </div>                 
                </div>
              </div>
              <div class="colletion-grid-footer">
                <div class="colletion-grid-footer-content">
{{ product.metafields.custom.product_bundle_content }}
                  <p>The original stamp. Great for light colored clothes.</p>
                </div>
      
                <div class="product-cart-btn customize_variant_id">
                  <button class="current_variant_id" data-current_coll="choose-stamp" attr_current_id="{{ product.selected_or_first_available_variant.id }}">select bundle</button>
                </div>
                
              </div>
            </div>
      {% endfor %}
    </div>
  </div>

    
    <div class="collection-products" id="collection2">
      <div class="colletion-product-grid-heading">
        <h2>2/2 Select your bundle</h2>
        <h3>Save up to 58% with bundles</h3>
      </div>
      <div class="collection-block-products">

      {% for product in collections.choose-stamp-2.products %}
      
        <div class="colletion-product-grid" >
              <div class="colletion-product-grid-inner">
                <div class="colletion-product-grid-image">
                  <img src="{{ product.featured_image | img_url:'master' }}">
                </div>
                <div class="colletion-product-grid-content">
                  <h2>{{ product.title }}</h2>
                  <div class="colletion-grid-price">  
                    <p><span class="regular-price">{{ product.price | money }}</span><span class="compare-price"><s>$59.99</s></span><span class="save-price">(save 17%)</span></p>
                  </div>                 
                </div>
              </div>
              <div class="colletion-grid-footer">
                <div class="colletion-grid-footer-content">
                   <ul>
                    <li><span><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/t/35/assets/check.svg?v=1660307006"></span>2 X Black ink stamp</li>
                    <li><span><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/t/35/assets/check.svg?v=1660307006"></span>2 X White ink stamp</li>
                    <li><span><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/t/35/assets/check.svg?v=1660307006"></span>2 X Transparent stickers set</li>
                  </ul>
                  <p>The original stamp. Great for light colored clothes.</p>
                </div>
      
                <div class="product-cart-btn customize_variant_id">
                  <button class="current_variant_id" data-current_coll="choose-stamp-2" attr_current_id="{{ product.selected_or_first_available_variant.id }}">select bundle</button>
                </div>
                
              </div>
            </div>
            
      {% endfor %}
    </div>
  </div>
  
    <div class="collection-products" id="collection3">
      <div class="colletion-product-grid-heading">
        <h2>2/2 Select your bundle</h2>
        <h3>Save up to 58% with bundles</h3>
      </div>
      <div class="collection-block-products">
      {% for product in collections.choose-stamp-3.products %}
               <div class="colletion-product-grid" >
              <div class="colletion-product-grid-inner">
                <div class="colletion-product-grid-image">
                  <img src="{{ product.featured_image | img_url:'master' }}">
                </div>
                <div class="colletion-product-grid-content">
                  <h2>{{ product.title }}</h2>
                  <div class="colletion-grid-price">  
                    <p><span class="regular-price">{{ product.price | money }}</span><span class="compare-price"><s>$59.99</s></span><span class="save-price">(save 17%)</span></p>
                  </div>                 
                </div>
              </div>
              <div class="colletion-grid-footer">
                <div class="colletion-grid-footer-content">
                   <ul>
                    <li><span><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/t/35/assets/check.svg?v=1660307006"></span>3 X Black ink stamp</li>
                    <li><span><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/t/35/assets/check.svg?v=1660307006"></span>3 X White ink stamp</li>
                    <li><span><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/t/35/assets/check.svg?v=1660307006"></span>3 X Transparent stickers set</li>
                  </ul>
                  <p>The original stamp. Great for light colored clothes.</p>
                </div>
      
                <div class="product-cart-btn customize_variant_id">
                  <button class="current_variant_id" data-current_coll="choose-stamp-3" attr_current_id="{{ product.selected_or_first_available_variant.id }}">select bundle</button>
                </div>
              </div>
            </div>
            
      {% endfor %}
    </div>
  </div>
  
    <div class="collection-products" id="collection4">
      <div class="colletion-product-grid-heading">
        <h2>2/2 Select your bundle</h2>
        <h3>Save up to 58% with bundles</h3>
      </div>
    <div class="collection-block-products">
      {% for product in collections.choose-stamp-4.products %}
      
       <div class="colletion-product-grid" >
              <div class="colletion-product-grid-inner">
                <div class="colletion-product-grid-image">
                  <img src="{{ product.featured_image | img_url:'master' }}">
                </div>
                <div class="colletion-product-grid-content">
                  <h2>{{ product.title }}</h2>
                  <div class="colletion-grid-price">  
                    <p><span class="regular-price">{{ product.price | money }}</span><span class="compare-price"><s>$59.99</s></span><span class="save-price">(save 17%)</span></p>
                  </div>                 
                </div>
              </div>
              <div class="colletion-grid-footer">
                <div class="colletion-grid-footer-content">
                   <ul>
                    <li><span><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/t/35/assets/check.svg?v=1660307006"></span>4 X Black ink stamp</li>
                    <li><span><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/t/35/assets/check.svg?v=1660307006"></span>4 X White ink stamp</li>
                    <li><span><img src="https://cdn.shopify.com/s/files/1/0512/5665/6053/t/35/assets/check.svg?v=1660307006"></span>4 X Transparent stickers set</li>
                  </ul>
                  <p>The original stamp. Great for light colored clothes.</p>
                </div>
      
                <div class="product-cart-btn customize_variant_id">
                  <button class="current_variant_id" data-current_coll="choose-stamp-4" attr_current_id="{{ product.selected_or_first_available_variant.id }}">select bundle</button>
                </div>
              </div>
            </div>
            
      {% endfor %}
    </div>
  </div>
    
      <div class="personlize-btn">
    <button class="first_stamp">Customize first stamp</button>
  </div>

  </div>

  <div class="product_variant_block">
       {% for product in collections.choose-stamp.products %}
            <div class="popup-product" id="currnt_product_div_id_choose-stamp-{{ product.selected_or_first_available_variant.id }}" style="display:none;">
              <h3 style="display:none;">{{ product.title }}</h3>
              {% assign varID = product.selected_or_first_available_variant.id %}
              <div class="product-form  ">
                  {%- render 'code-bundle', form_classes: 'product-single__form', product: product, form_id: form_id, data-product-form: '' -%}
              </div>
            </div>
      {% endfor %}
      {% for product in collections.choose-stamp-2.products %}
          <div class="popup-product" id="currnt_product_div_id_choose-stamp-2-{{ product.selected_or_first_available_variant.id }}" style="display:none;">
            <h3 style="display:none;">{{ product.title }}</h3>
            {% assign varID = product.selected_or_first_available_variant.id %}
            <div class="product-form bundle_1">
                {%- render 'code-bundle', form_classes: 'product-single__form', product: product, form_id: form_id, data-product-form: '' -%}
            </div>
            <div class="product-form bundle_2" style="display:none">
                {%- render 'code-bundle', form_classes: 'product-single__form', product: product, form_id: form_id, data-product-form: '' -%}
            </div>
          </div>
      {% endfor %}
      {% for product in collections.choose-stamp-3.products %}
          <div class="popup-product" id="currnt_product_div_id_choose-stamp-3-{{ product.selected_or_first_available_variant.id }}" style="display:none;">
            <h3 style="display:none;">{{ product.title }}</h3>
            {% assign varID = product.selected_or_first_available_variant.id %}
            <div class="product-form bundle_1">
                {%- render 'code-bundle', form_classes: 'product-single__form', product: product, form_id: form_id, data-product-form: '' -%}
            </div>
            <div class="product-form bundle_2" style="display:none">
                {%- render 'code-bundle', form_classes: 'product-single__form', product: product, form_id: form_id, data-product-form: '' -%}
            </div>
            <div class="product-form bundle_3" style="display:none">
                {%- render 'code-bundle', form_classes: 'product-single__form', product: product, form_id: form_id, data-product-form: '' -%}
            </div>
          </div>
      {% endfor %}
      {% for product in collections.choose-stamp-4.products %}
          <div class="popup-product" id="currnt_product_div_id_choose-stamp-4-{{ product.selected_or_first_available_variant.id }}" style="display:none;">
            <h3 style="display:none;">{{ product.title }}</h3>
            {% assign varID = product.selected_or_first_available_variant.id %}
            <div class="product-form bundle_1">
                {%- render 'code-bundle', form_classes: 'product-single__form', product: product, form_id: form_id, data-product-form: '' -%}
            </div>
            <div class="product-form bundle_2" style="display:none">
                {%- render 'code-bundle', form_classes: 'product-single__form', product: product, form_id: form_id, data-product-form: '' -%}
            </div>
            <div class="product-form bundle_3" style="display:none">
                {%- render 'code-bundle', form_classes: 'product-single__form', product: product, form_id: form_id, data-product-form: '' -%}
            </div>
            <div class="product-form bundle_4" style="display:none">
                {%- render 'code-bundle', form_classes: 'product-single__form', product: product, form_id: form_id, data-product-form: '' -%}
            </div>
          </div>
      {% endfor %}
    </div>
  

</section>
    
</div>

</div>
{{ "bundle-popup.css" | asset_url | stylesheet_tag}}

<script>
// Get the modal_popup
var modal_popup = document.getElementById("mymodal_popup");

// Get the button that opens the modal_popup
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal_popup
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal_popup 
btn.onclick = function() {
  modal_popup.style.display = "block";
}

// When the user clicks on <span> (x), close the modal_popup
span.onclick = function() {
  modal_popup.style.display = "none";
}

// When the user clicks anywhere outside of the modal_popup, close it
window.onclick = function(event) {
  if (event.target == modal_popup) {
    modal_popup.style.display = "none";
  }
}    
</script>
	<script>
      $(document).ready(function(){
  $(".product-cart-btn button").click(function(){
    $(".product-cart-btn button").removeClass('selected_btn');
    $(".colletion-product-grid").removeClass('selected_product');
    var var_id = $(this).attr('attr_current_id');
    var current_coll = $(this).data('current_coll');

    $(this).addClass('selected_btn');
    $(this).parents(".colletion-product-grid").addClass('selected_product');
    $('.first_stamp').attr("data-current_id",current_coll+'-'+var_id);
  });
});
  $(".open_numberic_step").click(function(){			
			console.log(this);
    var val = $(this).text();
          $('.collection-products').hide();
          $('#collection'+val).show();
          $('.personlize-btn').show();
		$('.collection-btn-flex-grid button').removeClass('selected');
		$(this).addClass('selected');
  
		});
        $(".first_stamp").click(function(){
          console.log(this);
          $('.first_step_block').hide();
          var current_id = $(this).data('current_id');
          var current_coll = $(this).data('current_coll');
          $('.popup-product').hide();   
          $('#currnt_product_div_id_'+current_id).show();
          $('#currnt_product_div_id_'+current_id).find('form').eq(0).css({"min-height":"auto","max-height":"max-content"});
		});
        $(document).on("click",".next_step",function(){
          console.log("next_step",this);
          $(this).parents('.product-form').hide();
          $(this).parents('.product-form').next('.product-form').show();
          $(this).parents('.product-form').next('.product-form').find('.addtocart_btn').attr('disabled','disabled');
          $(this).parents('.product-form').next('.product-form').trigger('focus');
          $('#mymodal_popup').stop().animate({
	        'scrollTop': $(this).parents('.product-form').next('.product-form').offset().top
	    }, 900, 'swing', function () {
	        // window.location.hash = target;
	    });
		});
	
	</script>
 

<script>
  const forms = document.querySelectorAll('form.product-single__form');

  [].forEach.call(forms, form=>{
    if (form.classList.contains('gift')){
      var formHeight = '130px';
    } else {
      var formHeight = '720px';
    }
    if (form.querySelector('div.step3 input:checked')){
      form.querySelector('div.step3 input:checked').checked = false;
    }

    // form.style.minHeight = 0; form.style.maxHeight = 0;
    form.previousElementSibling.onclick = function(){

      /* get curernt vriant id */
        var Bcurrnt_variant_id  =  $("#currnt_variant_id").attr('currnt_variant_id');

       var cutv = $(this).attr('attr_curr_id');

        console.log(Bcurrnt_variant_id)
      
      if (this.classList.contains('open')){
        // this.nextElementSibling.style.minHeight = 0;
        // this.nextElementSibling.style.maxHeight = 0;
        this.classList.remove('open');
        if (form.previousElementSibling.classList.contains('tap')){
          this.innerHTML = 'Tap to start';
        } else if (!this.nextElementSibling.querySelector('p.start')){
          this.classList.add('complete');
        }
      } else {
        this.nextElementSibling.style.minHeight = formHeight;
        this.nextElementSibling.style.maxHeight = parseInt(formHeight.replace('px','')) + 650 + 'px';;
        this.classList.add('open');
        if (form.previousElementSibling.classList.contains('tap')){
          this.innerHTML = 'Tap to hide';
        } else {
          this.classList.remove('complete');
        }
      }
    }
    let swatches = form.querySelectorAll('fieldset.single-option-radio.inline-list>input.single-option-selector__radio.js-single-option-selector');
    [].forEach.call(swatches, swatch=>{swatch.checked = false;});
    if (form.querySelector('input.one')){form.querySelector('input.one').checked = true;}
    if (form.querySelector('input.yes')){form.querySelector('input.yes').checked = true;}
    if (form.querySelector('input.first')){form.querySelector('input.first').value = '';}
    if (form.querySelector('input.second')){form.querySelector('input.second').value = '';}
    if (form.querySelector('select.icons')){form.querySelector('select.icons').value = 'None';}
    if (form.querySelector('div.spb-label-tooltip.icons>input:checked')){
      form.querySelector('div.spb-label-tooltip.icons>input:checked').checked = false;
    }
    var sets = form.querySelectorAll('div.spb-label-tooltip.icons');
    if (form.querySelector('select.icons')){
      form.querySelector('select.icons').onchange = function(){
        [].forEach.call(sets, set=>{set.classList.add('hide');});
        if (form.querySelector('div.spb-label-tooltip.icons.' + this.value)){
          form.querySelector('div.spb-label-tooltip.icons.' + this.value).classList.remove('hide');
        }
        if (form.querySelector('div.spb-label-tooltip.icons>input:checked')){
          let chkd = form.querySelector('div.spb-label-tooltip.icons>input:checked');
          chkd.checked = false;
          chkd.dispatchEvent(new Event('change',{bubbles:true}));
        }
      }
    }
    if (form.querySelector('p.start')){
      var btn = form.querySelector('p.start'); 
      btn.classList.add('disabled')
    } else if (form.querySelector('.btn_sp.addtocart_btn.bndl')){
      var btn = form.querySelector('.btn_sp.addtocart_btn.bndl');
    } else {
      var btn = null;
    }
    if (form.querySelector('input.first')){
      form.querySelector('input.first').onkeyup = function(){
        if (this.value.length > 11){
          this.nextElementSibling.style.display = 'flex';
          if (this.value.length < 13){
            form.querySelector('div.spb-label-tooltip.preview>div>div>div>p:first-child').innerHTML = this.value;
          }
        } else {
          this.nextElementSibling.removeAttribute('style');
          form.querySelector('div.spb-label-tooltip.preview>div>div>div>p:first-child').innerHTML = this.value;
        }
  // console.log("form.querySelector('input.single-option-selector__radio.js-single-option-selector:checked')",form.querySelector('input.single-option-selector__radio.js-single-option-selector'));
        if (this.value.length > 0 && btn){
          var total_p_form = $(btn).parents(".popup-product").find('.product-form').length;
          console.log("total_p_form=>",total_p_form)
          if($(btn).parents('.product-form').index() < total_p_form){
            btn.classList.remove('disabled');  
            btn.classList.remove('bndl');  
            btn.classList.add('next_step');  
          }else{
            if (btn.hasAttribute('text')){
              btn.innerHTML = btn.getAttribute('text');
            }
            btn.classList.remove('disabled');            
          }
        } else if (btn) {
          btn.innerHTML = 'Customize Second Bundle'; btn.classList.add('disabled');
        }
        // [].forEach.call(swatches, swatch=>{
        //   swatch.onchange=()=>{
        //     console.log("this.value.length",this.value.length);
        //     if (this.value.length > 0 && btn){
        //       if (btn.hasAttribute('text')){btn.innerHTML = btn.getAttribute('text');}
        //       btn.classList.remove('disabled');
        //     } else if (btn){
        //       btn.innerHTML = 'Make a Selection'
        //       btn.classList.add('disabled');
        //     }
        //   }
        // });
      }
    } else if (form.querySelector('input.single-option-selector__radio.js-single-option-selector') && btn){
      [].forEach.call(swatches, swatch=>{swatch.onchange=()=>{
        if (btn){
          if (btn.hasAttribute('text')){btn.innerHTML = btn.getAttribute('text');}
          btn.classList.remove('disabled');
        }
      }});
    }
    if (form.querySelector('input.second')){
      form.querySelector('input.second').onkeyup = function(){
        if (this.value == ''){
          form.querySelector('div.spb-label-tooltip.preview>div>div>div>p:last-child').classList.add('hide');
        } else {
          form.querySelector('div.spb-label-tooltip.preview>div>div>div>p:last-child').classList.remove('hide');
          if (this.value.length > 9){
            this.nextElementSibling.style.display = 'flex';
            if (this.value.length < 11){
              form.querySelector('div.spb-label-tooltip.preview>div>div>div>p:last-child').innerHTML = this.value;
            }
          } else {
            this.nextElementSibling.removeAttribute('style');
            form.querySelector('div.spb-label-tooltip.preview>div>div>div>p:last-child').innerHTML = this.value;
          }
        }
      }
    }

      var sets = form.querySelectorAll('div.step3 ul>li');
    [].forEach.call(sets, set=>{
      set.onclick=()=>{
        [].forEach.call(sets, el=>{el.classList.remove('checked');});
        set.classList.add('checked');
        form.querySelector('div.spb-label-tooltip.icons.active').classList.remove('active');
        form.querySelector('div.spb-label-tooltip.icons.'+set.classList[0]).classList.add('active');
      }
    });


    $(document).on("click","fieldset.single-option-radio.inline-list.radios label.text-strike", function(){
        var getsrc = $(this).find("img").attr("src");        
        $(this).parents("form").find(".spb-label-tooltip.preview img").eq(1).attr("src",getsrc);
    });

    
    let ipt_labels = form.querySelectorAll('div.steps label');

    console.log("ipt_labels",ipt_labels);
    [].forEach.call(ipt_labels, label=>{
                  console.log("testt1",label.firstElementChild.value);
      label.onclick=e=>{
                  console.log("testt2",label.firstElementChild.value);

        if (label.firstElementChild.value == 'No icon'){
          e.preventDefault();
          if (window.innerWidth > 768){
            if (label.firstElementChild.checked){
              label.firstElementChild.checked = false;
              label.parentElement.nextElementSibling.classList.add('hidden');
              form.querySelector('p.bar>span').style.width = '85%';

            } else {
              label.firstElementChild.checked = true;
              label.parentElement.nextElementSibling.classList.remove('hidden');
            form.querySelector('p.bar>span').style.width = '75%';
            }
            label.firstElementChild.dispatchEvent(new Event('change',{bubbles:true}));
          }
        } else if (label.nextElementSibling && label.nextElementSibling.getAttribute('type') == 'text'){
          label.nextElementSibling.focus();
        } else {
          label.previousElementSibling.checked = true;
          label.previousElementSibling.dispatchEvent(new Event('change',{bubbles:true}));
        }
      }
      });
    var icons = form.querySelectorAll('div.steps input');
    [].forEach.call(icons, icon=>{
      icon.onchange=()=>{
        console.log("icons")
        if (icon.checked){
          console.log("icon=>",icon);
          form.querySelector('div.spb-label-tooltip.preview>div>div>img').src = icon.nextElementSibling.firstElementChild.src;
          form.querySelector('div.spb-label-tooltip.preview>div>div>img').style.display = 'block';
        } else {
          console.log("icon1=>",icon);
          form.querySelector('div.spb-label-tooltip.preview>div>div>img').src = '';
          form.querySelector('div.spb-label-tooltip.preview>div>div>img').removeAttribute('style');
        }        
      }
    });

  /*
    let btns = form.querySelectorAll('div.spb-label-tooltip.btns>input');
    [].forEach.call(btns, btn=>{
      btn.onchange=()=>{
        if (btn.value == 1){
          form.querySelector('div.spb-label-tooltip.second').classList.add('hide');
          form.querySelector('div.spb-label-tooltip.second>input').value = '';
          form.querySelector('div.spb-label-tooltip.preview>div>div>p:last-child').classList.add('hide');
          form.querySelector('div.spb-label-tooltip.preview>div>div>p:last-child').innerHTML = '';
        } else if (btn.value == 2){
          form.querySelector('div.spb-label-tooltip.second').classList.remove('hide');
        } else if (btn.value == 'yes'){
          form.querySelector('div.spb-label-tooltip.select').classList.remove('hide');
        } else {
          [].forEach.call(sets, set=>{set.classList.add('hide');})
          form.querySelector('div.spb-label-tooltip.select').classList.add('hide');
          if (form.querySelector('div.spb-label-tooltip.icons>input:checked')){
            let chkd = form.querySelector('div.spb-label-tooltip.icons>input:checked');
            chkd.checked = false;
            chkd.dispatchEvent(new Event('change',{bubbles:true}));
          }
        }
      }
    });
  */
  
    let labels = form.querySelectorAll('.radios label');
    [].forEach.call(labels, label=>{
      // console.log("label.firstElementChild.id",label.firstElementChild.id);
      label.onclick=e=>{
        label.previousElementSibling.checked = true;
        label.previousElementSibling.dispatchEvent(new Event('change',{bubbles:true}));
      }
    });
    if (form.querySelector('p.start')){
      form.querySelector('p.start').onclick=()=>{
        var btnHeight = form.querySelector('p.start').getBoundingClientRect().height;
        form.querySelector('p.start').remove();
        //formHeight = formHeight.replace('px','') - btnHeight + 'px';
        form.previousElementSibling.dispatchEvent(new Event('click',{bubbles:true}));
        form.previousElementSibling.innerHTML += ' - Completed';
        form.previousElementSibling.classList.add('complete');
        form.nextElementSibling.classList.remove('disabled');
        form.nextElementSibling.dispatchEvent(new Event('click',{bubbles:true}));
        setTimeout(()=>{form.nextElementSibling.scrollIntoView({behavior:'smooth'});},490);
      }
    }
  });

         $(document).on("click",".btn_sp.addtocart_btn.bndl",function(e){
  // if (document.querySelector('.btn_sp.addtocart_btn.bndl')){
  // console.log("test click");
    // document.querySelector('.btn_sp.addtocart_btn.bndl').onclick = function(e){
      e.preventDefault();
      this.innerHTML = 'Adding to cart...';
      var popup_product = $(this).parents(".popup-product");
      var forms = $(this).parents(".popup-product").find("form");
      var product_form = $(this).parents(".popup-product").find('.product-form');
           
      var items = [
        {% comment %}
        {%- unless product.tags contains 'nosticktape' -%}
          {id:41409529446581, quantity:1, properties: {'Bundle': $(popup_product).find('h3').text()}},
          {id:41409529053365, quantity:1, properties: {'Bundle': $(popup_product).find('h3').text()}}
        {%- endunless -%}
        {% endcomment %}
      ];
        // console.log(forms);

     // var currentformid = localStorage.getItem("currentformid");
    // console.log(currentformid); 

       form = [];
           var props = [];

       // form.push(currentformid);
    var vrnt, count = 0;
  // console.log(count);
      [].forEach.call(product_form, form=>{

         // console.log("product_form=>",product_form);
         // console.log("product_form=>",form);
       var form = $(form).find('form');
        
        if (form[1].querySelector('select.product-single__variants.product-form__item')){
          // vrnt = forms[1].querySelector('select.product-single__variants.product-form__item option').value;
        } else if (form[0].querySelector('input[name="id"][type="hidden"]')){
         vrnt = form[0].querySelector('input[name="id"][type="hidden"]').value;
        // console.log("select vrnt=>",vrnt);
        } else if (form[1].querySelector('input.single-option-selector__radio.js-single-option-selector:checked')){
          // var vrnt = form[1].querySelector('input.single-option-selector__radio.js-single-option-selector:checked').value;
        // console.log("option select vrnt=>",vrnt);
        } else {
          // var vrnt = null;
        }

      var props = {'Product 1': $(form[1]).find('h3').text()};
      //This is start of first Stamp  
           var v_sku = form[1].querySelector('input.single-option-selector__radio.js-single-option-selector:checked').getAttribute('data-sku');
        props['Black Stamp SKU'] = v_sku;
        if (form[1].querySelector('input.first')){
          if (form[1].querySelector('input.first').value.length > 0){
            props['Black Stamp Line 1'] = form[1].querySelector('input.first').value;
          }
        }
       if (form[1].querySelector('input.second')){
          if (form[1].querySelector('input.second').value.length > 0){
            props['Black Stamp Line 2'] = form[1].querySelector('input.second').value;
          }
        }
      if (form[1].querySelector('div.step3 input:checked')){
          props['Black Stamp Icon'] = form[1].querySelector('div.step3 input:checked').value;
        }     
        props["item_"+count+"data"] = count;

        //This is End of First Stamp
           
      //This is start of second Stamp 
        if(form[2] != undefined){
           props['Product 2'] =  $(form[2]).find('h3').text();
           var v_sku = form[2].querySelector('input.single-option-selector__radio.js-single-option-selector:checked').getAttribute('data-sku');
           props['White Stamp SKU'] = v_sku;
        if (form[2].querySelector('input.first')){
          if (form[2].querySelector('input.first').value.length > 0){
            props['White Stamp Line 1'] = form[2].querySelector('input.first').value;
          }
        }
       if (form[2].querySelector('input.second')){
          if (form[2].querySelector('input.second').value.length > 0){
            props['White Stamp Line 2'] = form[2].querySelector('input.second').value;
          }
        }
      if (form[2].querySelector('div.step3 input:checked')){
          props['White Stamp Icon'] = form[2].querySelector('div.step3 input:checked').value;
        }     
      }
       //This is end of second Stamp    
                 
      //This is start of third Stamp 
        if(form[3] != undefined){
           props['Product 3'] =  $(form[3]).find('h3').text();
           // var v_sku = form[3].querySelector('input.single-option-selector__radio.js-single-option-selector:checked').getAttribute('data-sku');
           // props['Stickers SKU'] = v_sku;
        if (form[3].querySelector('input.first')){
          if (form[3].querySelector('input.first').value.length > 0){
            props['Stickers Line 1'] = form[3].querySelector('input.first').value;
          }
        }
       if (form[3].querySelector('input.second')){
          if (form[3].querySelector('input.second').value.length > 0){
            props['Stickers Line 2'] = form[3].querySelector('input.second').value;
          }
        }
      if (form[3].querySelector('div.step3 input:checked')){
          props['Stickers Icon'] = form[3].querySelector('div.step3 input:checked').value;
        }     
      }
       //This is end of Third Stamp    
       
           // props.push({properties:props});
 
        // if(vrnt == null){
          
        // } else {
         
        // }
        items.push({quantity:1, id:vrnt, properties:props});
         count = count + 1;
      });
           // exit();
        // console.log("props=>",props);
      // items.push({quantity:1, id:vrnt, properties:props});
       // console.log(items);
  // exit();
      fetch('/cart/add.js', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({'items':items})
      }).then(res=>{
        console.log(res);
        // exit();
window.location.href = '/cart';
      });
   });
           // }
  // }
</script>


<script>
$(document).ready(function(){
  $(".current_variant_id").click(function(){

    var current_clicked_id = $(this).attr('attr_current_id');
    console.log(current_clicked_id);
    console.log("#currnt_product_div_id_"+current_clicked_id+" form");
    var currentformid = $("#currnt_product_div_id_"+current_clicked_id+" form").attr('id');
    $("#currnt_variant_id").attr('attr_v_id', currentformid);
    localStorage.setItem("currentformid", currentformid);
   $('#currnt_variant_id').val(currentformid);
  
  });

    $(document).on("click",".step3 label", function(event){
        var getchecked = $(this).eq(0);
      console.log("getchecked",getchecked);
      console.log($(this).find("input").is(":checked"));
      if($(this).find("input").is(":checked")){
        $(this).find("input").prop("checked",false);
        $(this).next().addClass('hidden');        
      }else{
        $(this).find("input").prop("checked",true);
        $(this).next().removeClass('hidden');  
      }
    });
  
});
</script>