
{% assign totalbndls = 0 %}{% assign totalgifts = 0 %}
{% for tag in product.tags %}
{% if tag contains 'bndl-' %}{% assign bundle = true %}{% assign totalbndls = totalbndls | plus: 1 %}
{% elsif tag contains 'gift-' %}{% assign bundle = true %}{% assign totalgifts = totalgifts | plus: 1 %}
{% endif %}
{% endfor %}
{% if bundle %}
<style>form#AddToCartForm>div.grid__item.row_grid_qnt{display:none;}</style>
{% comment %} <center style="color:#ff8e9e;width:100%;margin:15px 0;font-weight:bold;font-size:25px;">Bundle & save<br>Your family pack is here!</center> {% endcomment %}
{% unless product.has_only_default_variant %}
<p class="start">Design your first stamp</p>
  {% endunless %}
{% else%}
<center style="color:#ff8e9e;width:100%;margin:15px 0;font-weight:bold;font-size:25px;">Make your own personalized stamp just in 3 easy steps!</center>
<p class="start tap btn btn--primary btn--add-to-cart full">Tap To Start</p>
{% endif %}
{%- form 'product', product, class: form_classes, id: form_id, data-product-form: '' -%}
  {% if product.has_only_default_variant %}
<!--   	<center style="width:100%;">{{ product.title }}</center> -->
	<input name="id" type="hidden" value="{{ product.variants.first.id }}"/>
  {% else %}

{% if section.settings.show_quantity_selector %}
<div class="product-form__item one-whole medium-up--hide product-form__item--quantity_1 prod_qty_mobile">
  <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
  <div class="qty_selector">
    <span class='qtyminus' field='quantity'>{% include 'icon-minus' %}</span>
    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input qty" pattern="[0-9]*">
    <span class='qtyplus' field='quantity'>{% include 'icon-plus' %}</span>
  </div>            
</div>
{% else %}
<input type="hidden" id="Quantity" name="quantity" value="1" class="product-form__input prod_qty_mobile">
{% endif %}
<div class="grid grid-small">
  {%- for option in product.options_with_values -%}
  {%- liquid
                        assign is_color_option = false
                        if content_for_header contains 'debutify' and product.available and product.variants.size >= 1 and settings.dbtfy_color_swatches
                          assign swatch_list = settings.dbtfy_color_swatches_color | split: ","
                          for swatch in swatch_list
                            assign swatch_option_name = swatch | handleize
                            assign option_name = option.name | handleize
                            if option_name == swatch_option_name
                              assign is_color_option = true
                            endif
                          endfor
                        endif
                        assign first_option_value = current_variant.options[forloop.index0] | escape
                      -%}
  <div class="grid__item radio-wrapper product-form__item"{%- if is_color_option -%} hidden{%- endif -%}>
    <label class="single-option-radio__label"
           for="ProductSelect-option-{{ forloop.index0 }}"
           data-option-name="{{ option.name | escape }}">
      {{ option.name | escape }}: <span class="variant-label-option-value">{{ first_option_value | escape }}</span>
    </label>
  
    <fieldset class="single-option-radio inline-list radios"
              id="ProductSelect-option-{{ forloop.index0 }}">
      {%- assign option_index = forloop.index -%}
      {%- for value in option.values -%}
      {%- liquid
                                assign variant_label_state = true
                                if product.options.size == 1
                                  unless product.variants[forloop.index0].available
                                    assign variant_label_state = false
                                  endunless
                                endif
                              -%}
      <input type="radio"
             {% if option.selected_value == value -%} checked="checked"{% endif %}
             value="{{ value | escape }}"
             data-index="option{{ option_index }}"
             name="option{{ option.position }}"
             class="single-option-selector__radio js-single-option-selector"
             id="ProductSelect-option-{{ section.id }}-{{ option.name | handleize }}-{{ value | escape }}">
      <label for="ProductSelect-option-{{ section.id }}-{{ option.name | handleize }}-{{ value | escape }}"{% unless variant_label_state %} class="text-strike"{% endunless %}>
        {% if option.name contains 'olor' %}
        {{ value | handleize | append: '.jpg' | file_img_url: 'medium' | img_tag }}
        {% else %}
        {{ value | escape }}
        {% endif %}
      </label>
      {%- endfor -%}
    </fieldset>

  </div>
  {%- endfor -%}
</div>
<select name="id" id="MainProductSelect-{{ product.id }}" class="product-single__variants no-js product-form__item" data-section-id="{{ section.id }}">
  {% for variant in product.variants %}
  {%- liquid
                        assign product_qty = 0
                        if variant.inventory_management == "shopify"
                          if variant.inventory_policy == "continue"
                            assign product_qty = 99999
                          else
                            if variant.inventory_quantity > 0
                              assign product_qty = variant.inventory_quantity
                            else
                              assign product_qty = 0
                            endif
                          endif
                        else
                          assign product_qty = 99999
                        endif 
                      -%}
  <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
          {% unless variant.available %}disabled="disabled"{% endunless %} data-sku="{{ variant.sku }}"
          data-image="{{variant.image | img_url}}" data-inventory-policy="{{ variant.inventory_policy }}"
          data-inventory-quantity="{{ product_qty }}" data-product-qty="{{ product_qty }}" value="{{ variant.id }}"
          data-option-1="{{ variant.option1 }}" data-option-2="{{ variant.option2 }}" data-option-3="{{ variant.option3 }}">
    {%- if variant.available -%}
    {{ variant.title }} - {{ variant.price | money_with_currency }}
    {%- else -%}
    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
    {%- endif -%}
  </option>
  {% endfor %}
</select>
<!-- PRODUCT SWATCH CODE IF ENABLE -->
{% if product.tags contains 'CODE' %}
<!-- <center style="width:100%;">Step 1<br>Choose your stamp</center> -->
<style>
  div.swatch_options{width:100%;} div.swatch.clearfix{display:flex;justify-content:center;flex-wrap:wrap;margin-top:10px;}
  div.swatch.clearfix>div.header{display:none;}
</style>
{% endif %}
<div class="preview radios">
  <hr>
<!--   <center>Step 2<br>How many lines?</center> -->
  <h4>2. Add Text</h4>
<!--   <div class="spb-label-tooltip btns">
    <input type="radio" id="one" name="lines" checked class="one spb-productdescfont spb-productoptiontextcolor spb-productoptionbackground" value="1">
    <label for="one" class="spb-productdescfont spb-productdesctextcolor">One line</label>
    <input type="radio" id="two" name="lines" class="two spb-productdescfont spb-productoptiontextcolor spb-productoptionbackground" value="2">
    <label for="two" class="spb-productdescfont spb-productdesctextcolor">Two lines</label>
  </div> -->
  <div class="spb-label-tooltip">
    <label for="First" class="spb-productdescfont spb-productdesctextcolor">First Line <span>Any letter / number | No icons / emoji</span></label>
    <input type="text" name="properties[Line 1]" autocomplete="off" class="first spb-productdescfont spb-productoptiontextcolor spb-productoptionbackground" placeholder="Enter text.. (Max 12)" maxlength="12" size="12" required>
    <span>You've reached the limit</span>
  </div>
  <div class="spb-label-tooltip second">
    <label for="Second" class="spb-productdescfont spb-productdesctextcolor">Second Line</label>
    <input type="text" name="properties[Line 2]" autocomplete="off" class="second spb-productdescfont spb-productoptiontextcolor spb-productoptionbackground" placeholder="Enter text.. (Max 10)" maxlength="10" size="10">
    <span>You've reached the limit</span>
  </div>
  <hr>
<!--   <center>Step 3<br>Final step!</center> -->
 <div class="step3">
        <h4>3. Pick Icon</h4>
        <label for="noicon">
          <input id="noicon" type="radio" name="properties[Icon]" class="fas fa-check" value="No icon"> I don't want an icon
        </label>
        <div>
          <ul>
            {% for i in (1..3) %}
              {% assign set = 'iconstitle' | append: i %}
              {% if section.settings[set] != blank %}
                <li class="{{ section.settings[set] }}{% if i == 1 %} checked{% endif %}">{{ section.settings[set] }}</li>
              {% endif %}
            {% endfor %}
          </ul>
          {% for i in (1..3) %}
            {% assign set = 'iconstitle' | append: i %}{% assign iconsset = 'icons' | append: i %}
            {% assign icons = section.settings[iconsset] | replace: ', ',',' | replace: ' ,',',' | split: ',' %}
          	{% if section.settings[set] != blank and icons.size > 0 %}
              <div class="spb-label-tooltip icons {{ section.settings[set] }}{% if i == 1 %} active{% endif %}">
                {% for icon in icons %}
                  <input type="radio" name="properties[Icon]" id="Icon{{ i }}{{ icon }}" class="spb-productdescfont spb-productoptiontextcolor spb-productoptionbackground" value="{{ icon }}">
                  <label for="Icon{{ i }}{{ icon }}" class="spb-productdescfont spb-productdesctextcolor">{{ icon | append: '.png' | file_img_url: 'small' | img_tag }}</label>
                {% endfor %}
              </div>
          	{% endif %}
          {% endfor %}
        </div>
      </div>
  <center style="margin-top:15px;">You're all set! 🙌<br>Take a look at your stamp</center>
  <div class="spb-label-tooltip preview"><div><img><div><p></p><p class="hide"></p></div></div></div>
</div>
{% if bundle %}
  {% if totalbndls > 0 %}
  <p class="start" text="Great! Click to design your next stamp">Make a Selection</p>
  {% else %}
  <p class="start" text="Awesome! Click to choose your gift">Make a Selection</p>
  {% endif %}
{% else %}
   <div class="row_grid_qnt curent_row_id" style="width:100%;">
    <p text="ADD TO CART"  class="claass_1245 disabled btn_sp addtocart_btn bndl stiky_button{% if section.settings.enable_payment_button %} dynamic_paybtn{% endif %}{% if section.settings.shake_effect_enable %} js-cartButtonPro-addToCartButton hvr-wobble-horizontal{% endif %}">YOU MUST CHOOSE A DESIGN</p>
  </div>
{% endif %}
<!-- END PRODUCT SWATCH CODE IF ENABLE -->

<input required type="hidden" id="upsellcheckquantity" name="properties[upsellcheckquantity]">
{% endif %}
{%- endform -%}
   
{% assign form_cls = form_classes | remove: ' active' %}
{% assign bndls = 0 %}
{% assign gifts = 0 %}
{% for tag in product.tags %}
{% if tag contains 'bndl-' %}
  {% assign bndls = bndls | plus: 1 %}
{% assign prod = tag | split: '_' | last %}
  {% render 'preview-code' product: all_products[prod], order: bndls, total: totalbndls, gifts: totalgifts, form_classes: form_cls %}
{% endif %}
{% endfor %}
{% assign form_cls = form_cls | append: ' gift' %}
{% for tag in product.tags %}
{% if tag contains 'gift-' %}
  {% assign gifts = gifts | plus: 1 %}
{% assign prod = tag | split: '_' | last %}
  {% render 'gift-code' product: all_products[prod], order: gifts, total: totalgifts, form_classes: form_cls %}
{% endif %}
{% endfor %}

<style>
  form.product-single__form {
    overflow: hidden;
    transition: .5s;
  }
  form.product-single__form div.grid.grid-small {
    overflow-x: auto;
    scrollbar-width: thin;
    width: calc(100% - 50px);
    margin: 0 auto;
  }
  form.product-single__form div.grid.grid-small fieldset {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    width: 100%;
  }
  form.product-single__form div.grid.grid-small fieldset>label {
    margin: 3px 10px 3px 3px;
    padding: 0;
    width: 100px;
  }
  form.product-single__form div.grid.grid-small fieldset>label>img {display: block;}
  form.product-single__form>p.start {margin-bottom: 10px;}
  form.product-single__form>div.preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    max-width: 380px;
    margin: 0 auto;
  }
  form.product-single__form>div.preview>hr, center, b {width: 100%;}
  form.product-single__form>div.preview>hr {
    margin: 10px 0;
    border-width: 2px;
  }
  form.product-single__form>div.preview>div.spb-label-tooltip {
    width: 100%;
    margin: 10px auto 0;
    position: relative;
  }
  form.product-single__form>div.preview>div.spb-label-tooltip.preview {
    display: flex;
    background-color: #e1f4ff;
    align-items: center;
    padding: 0 10px;    
  }
  form.product-single__form>div.preview>div.spb-label-tooltip>span {
    display: none;
    color: #ff8e9e;
    position: absolute;
    right: 10px;
    top: 0;
    max-width: calc(100% - 200px);
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  @media screen and (max-width:350px){form.product-single__form>div.preview>div.spb-label-tooltip>span {align-items: flex-start;}}
  form.product-single__form>div.preview>div.spb-label-tooltip>input, form.product-single__form>div.preview>div.spb-label-tooltip>select {
    width: 100%;
    padding: 8px;
    outline: none;
  }
  form.product-single__form>div.preview>div.spb-label-tooltip>input[type="radio"]{display: none;}
  form.product-single__form>div.preview>div.spb-label-tooltip>input[type="radio"]+label {
    border: 2px solid transparent;
    max-width: 20%;
    width: 66px;
    transition: .3s;
  }
  form.product-single__form>div.preview>div.spb-label-tooltip>input[type="radio"]:checked+label {border-color: #ff8e9e;}  
  form.product-single__form>div.preview>div.spb-label-tooltip.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -5px;
  }
  form.product-single__form>div.preview>div.spb-label-tooltip.btns>input[type="radio"]+label {
    width: 50%;
    max-width: 50%;
    text-align: center;
    padding: 5px;
    border: 2px solid #ff8e9e;
  }
  form.product-single__form>div.preview>div.spb-label-tooltip.btns>input[type="radio"]:checked+label {background: #ff8e9e;}
  form.product-single__form>div.preview>div.spb-label-tooltip.icons:not(.hide) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  form.product-single__form>div.preview>div.spb-label-tooltip.preview>label {text-align: center;}
  form.product-single__form>div.preview>div.spb-label-tooltip.preview>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #e1f4ff;
    padding: 3px 10px 3px 0px;
    min-height: 2.5em;
    background-color: #e1f4ff;
  }
  .img_w_text {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: center;
    max-width: 110px;
    background-color: #fff;
    border-radius: 15px;
}
  form.product-single__form>div.preview>div.spb-label-tooltip.preview>div>div p {
    margin-bottom: 0;
    font-size: 22px;
    text-align: center;
  }
  form.product-single__form>div.preview>div.spb-label-tooltip.preview>div>div>img {
    width: 50px;
    max-width: 25%;
    margin-right: 5px;
    display: none;
  }
  form.product-single__form>div.preview>div.spb-label-tooltip.preview>img {
    height: 50px;
    width: auto;
  }
  .img_w_text {
    display: flex;
    align-items: center;
}
  form.product-single__form > div.preview > div.spb-label-tooltip > input, form.product-single__form > div.preview > div.spb-label-tooltip > select {
    width: 100%;
    padding: 8px;
  }
  p.start {
    text-align: center;
    background: #ff8e9e;
  }
  p.start.complete, p.start.disabled {background: #c2c2c2;}
  p.start.disabled {pointer-events: none;}
</style>